@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/GothamRndMedium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HKNovaBold';
    src: url('../fonts/HKNovaBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HKNovaRegular';
    src: url("../fonts/HKNovaRegular.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
