.home-page {
  $break-medium: 770px;
  margin-top: 60px;
  .extra-content-container {
    .recommended {
      padding: 8px;
      position: relative;
      background: #eaeaea;
      color: #44434c;
      font-family: "HKNovaBold";
      font-size: 18px;
    }
  }

  .post {
    border: solid 1px #ddd;
    background: white;
    margin-bottom: 40px;

    .post-image {
      background-size: cover;
      background-position: center center;
      height: 170px;

      @include media-breakpoint-up(md) { height: 215px; }
    }

    .btn-plus-read {
      color: white;
      font-size: 15px;
      line-height: 15px;
      float: right;
      font-family: "HKNovaBold";
      text-transform: uppercase;
      border-radius: 2px;
      padding: 10px 20px;
      position: absolute;
      right: 10px;
      bottom: 10px;
      background-color: #70b962;
    }

    .post-content {
      position: relative;
      padding: 20px 15px 0;
      height: 80px;
      overflow: hidden;

      @include media-breakpoint-up(md) { height: 125px; }

      .post-title {
        font-family: 'HKNovaBold';
        font-size: 24px;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 18px;
        a {
          color: #44424c;
        }
      }

      .post-body {
        font-size: 17px;
        font-family: 'HKNovaRegular';
        color: #44424c;

        @include media-breakpoint-up(lg) { }
      }

      .diffuse {
        position: absolute;
        left: 0;
        bottom: 40px;
        width: 100%;
        height: 35px;
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      }

      .non-diffuse {
        background-color: white;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
      }
    }

    .post-footer {
      display: flex;
      align-items: center;
      padding: 10px 15px 12px;

      .date {
        font-size: 15px;
        text-align: right;
        width: 100%;
      }

      img {
        margin-right: 10px;
        width: 40px;
        border-radius: 50%;
      }

      .author {
        font-size: 15px;
        font-family: "RobotoCondensed";
        color: #44424c;
      }

      time {
        display: block;
        color: #999999;
        font-size: 0.80em;
      }
    }
  }

  .main-post {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    @include media-breakpoint-up(lg) { flex-direction: row; }

    .post-image {
      @include media-breakpoint-up(lg) {
        width: 32%;
        height: initial;
      }
    }

    .main-post-wrapper {
      .post-content {
        .post-body {
          h1 {
            font-family: 'HKNovaBold';
          }
        }
      }
      @include media-breakpoint-up(lg) { width: 68%; }
    }

    .post-content {
      padding: 10px 20px;
      height: 250px;
      .post-body {
        h1 {
          font-family: 'HKNovaBold';
          color: black;
          font-size: 24px;
          text-transform: lowercase;
        }
      }

      @include media-breakpoint-up(md) { padding: 20px 25px; }

      .post-title {
        display: none;
        color: #44424c;
        font-size: 24px;
        font-family: 'HKNovaBold';
        font-weight: 600;
        line-height: 1.2;
        margin: 0 0 25px;
      }

      .post-body {
        font-size: 17px;
        font-family: 'HKNovaRegular';
        p {
          color: #44424c;
        }
      }
    }

    .post-footer {
      padding: 13px 20px 0;
    }
  }
  .newsletter-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .newsletter {
      width: 100%;
      height: 250px;
      background-color: #f4e937;
      padding: 90px;
      @media screen and (max-width: $break-medium) {
        padding: 20px;
        padding-top: 70px;
        margin-bottom: 50px;
        margin-top: 25px;
      }
      .title {
        font-family: 'HKNovaBold';
        text-align: center;
        font-size: 29px;
        color: #3d5062;
        margin-bottom: 53px;
        margin-top: -20px;
        @media screen and (max-width: $break-medium) {
          font-size: 24px;
        }
      }
      .input-group {
        width: 530px;
        margin: auto;
        @media screen and (max-width: $break-medium) {
          width: 240px;
        }
        .btn-secondary {
          background-color: #5bc0c8;
          color: white;
          font-family: 'RobotoCondensed';
          font-weight: bold;
          text-transform: uppercase;
          width: 100px;
        }
      }
    }
  }
}
