---
layout: default
---

<div class="post-page">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-10 col-xl-9">
        <a href="/" class='back-to-list'>
          <span class='glyphicon glyphicon-hand-left'> </span>
          Volver a la lista de posts
        </a>

        <div class="post">
          <div class="post-image" style="background-image: url({% if page.image %}{{ page.image }}{% else %}/images/no-image.png{% endif %})"></div>
          <div class="row justify-content-md-center" style="font-size: initial">
            <div class="col-md-10">
              <div class="post-content">
                <div class="post-details">
                  <div class="post-author">
                    {% assign gravatarCount = page.gravatars | size %}
                    {% if gravatarCount == 0 %}
                      <img class="img-responsive" src="/images/no-gravatar.png"/>
                    {% elsif gravatarCount == 1 %}
                      <img class="img-responsive" src="{{ page.gravatars | first }}"/>
                    {% else %}
                      {% for gravatar in page.gravatars %}
                        {% if forloop.first %}
                          <img class="img-responsive" src="{{ gravatar }}"/>
                        {% elsif forloop.last %}
                          <img class="img-responsive" src="{{ gravatar }}"/>
                        {% else %}
                          <img class="img-responsive" src="{{ gravatar }}"/>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    <p>
                      {% assign authorCount = page.authors | size %}
                      {% if authorCount == 0 %}
                          No author
                      {% elsif authorCount == 1 %}
                          {{ page.authors | first }}
                      {% else %}
                        {% for author in page.authors %}
                          {% if forloop.first %}
                            {{ author }}
                          {% elsif forloop.last %}
                            y {{ author }}
                          {% else %}
                            , {{ author }}
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    </p>
                  </div>
                  <time class="post-date">{{ page.date | date: "%b %-d, %Y" }}</time>
                </div>
                <div class="post-body" style="text-align: justify">{{ content }}</div>

                <div class="share-post">
                  <span class="text">Compartir en:</span>
                  <div class="social-networks">
                    <a class="btn-share btn-share-twitter" target="_blank" href="http://twitter.com/share?text={{ page.title }}&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}&via=seamos" rel="nofollow" title="Compartir en Twitter">Twitter</a>
                    <a class="btn-share btn-share-fb" target="_blank" href="http://www.facebook.com/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}&p[title]={{ page.title }}" rel="nofollow" title="Compartir en Facebook">Facebook</a>
                    <a class="btn-share btn-share-linkedin" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}&summary={{ post.excerpt }}&source={{ site.url }}{{ page.url }}" rel="nofollow" title="Compartir en LinkedIn">LinkedIn</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-sm-8">
        {% include disqus.html %}
      </div>
    </div>
  </div>
</div>
